@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Sora:wght@100..800&display=swap');


.parent {
    position: initial;
    background-size: 100vw 100vh; /* Ensure the image covers the entire element */
    height: 98vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #739E82;
}

.sections {
    background-color:#D38B5D;
}

.profileimg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-size: cover;
}

.button {
    position: absolute;
    align-items: center;
    border-radius: 60px;
    display: flex;
    top: 5%;
    right: 5%;
    padding: 1rem;
    width: 150px;
    height: 45px;
    justify-content: space-around;
    gap: 1px;
    font-size: 1.1rem;
    user-select: none;
    transition: background-color 0.3s;
    background-color:#F6F3E0;
    border-style: none;
    z-index: 3;
  }

.spans {
    position: initial;
}

.button:hover {
    background-color: white;
}

.dropdown {
    position: absolute;
    top: 9.5%;
    width: 130px;
    right: 5%;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
    background-color: #F6F3E0;
    list-style-type: none;
    z-index: 3;
    font-size: large
}

.font {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-style: bold;
    font: size 100px;
    text-decoration: none;
    color: black;
}

.font1 {
    font-size: 75px;
    color: #739E82;
    font-style: bold;
    font-weight: 700;
}


.pixel {
    position: absolute;
    top: -2%;
    left: 11.5%;
    width: 1024px;
    height: 722px;
    z-index: 0;
} /* ADD MEDIA TAG SO THIS ADJUSTS TO SCREEN SIZE*/

.pixelborder {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #F6F3E0;
    top: 25%;
    height: 800px;
    width: 1200px;
    border-radius: 50px;
    z-index: 0;
}

.pixelfooter {
    height: 18vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
    background-color: #F6F3E0;
    z-index: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    /*background-color: red;*/
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.item1 {
    display: flex;
    background-color: white;
    width: 600px;
    height: 275px;
    border-radius: 50px;
    align-content: bottom; /*Vertically*/
    justify-content: center; /*Horizontally*/
    margin-top: 250px;
    margin-bottom: 20px;
}

.col1 {
    margin-top: 15%;
    margin-bottom: 10%;
}

.col2 {
    margin-top: 0%;
}

.header1 {
    display: absolute;
    top: 0%;
    margin-left: 10%;
    margin-top: 12%;
}

.bars {
    background-color: #99621E;
    height: 5px;
    width: 600px;
}

.description {
    font-size: 60px;
    color: #F6F3E0;
    font-style: bold;
    font-weight: 550;
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 0;
}

.description1 {
    font-size: 18px;
    color: white;
    font-style: bold;
    padding: 0;
    font-weight: 500;
    margin-top: 1%;

}

.footer {
    background-color: black;
    height: 18vh;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    
  }

/*add @media tag to change login button/background img size depending on width/height (px wise) of browser like obscurify's*/
/*gen guideline for breakout points for media tags: 600px, 601px+, 768px, 992px, 1200px */