@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metrophobic&family=Sora:wght@100..800&display=swap');

/* START OF MENU BUTTON & DROPDOWN STYLING */
.button {
    position: absolute;
    align-items: center;
    border-radius: 60px;
    display: flex;
    top: 5%;
    right: 5%;
    padding: 1rem;
    width: 150px;
    height: 45px;
    justify-content: space-around;
    gap: 1px;
    font-size: 1.1rem;
    user-select: none;
    transition: background-color 0.3s;
    border-style: solid;
    z-index: 3;
}

.button:hover {
    background-color: white;
}

.buttonDropDown {
    position: absolute;
    align-items: center;
    top: 4.5%;
    height: 145px;
    width: 106px;
    right: 5%;
    border-radius: 20px 20px 40px 40px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px; 
    list-style-type: none;
    z-index: 2;
    font-size: large;
    overflow: hidden;
}

/* To MODIFY SIZING FOR EVERY List Item OF BUTTON DROPDOWN CHANGE: height/size/margin-left, To change color of hover, go to MenuButton.js */
.buttonDropDown li {
    display:flex;
    width: 95px; 
    height: 35px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: -15px; 
    
}

.profileimg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-size: cover;
}

.menuFont {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-style: bold;
    text-decoration: none;
}
/* END OF BUTTON STYLING */

/* BODY <-MAIN */
.body{
    min-width: 420px;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.cloudLeft {
    position: absolute;
    z-index: 0;
    left: -5vw;
    top: 10vh;
    opacity: 1; 
    width: 340px;
    height: 280px;
    animation: floatLeft 2.3s infinite alternate-reverse ease-in-out;
}

.cloudRight {
    position: absolute;
    z-index: 0;
    right: 0vw;
    top: 30vh;
    width: 350px;
    height: 300px;
    animation: floatRight 2.3s infinite alternate-reverse ease-in-out;
}

/* FLOAT ANIMATION FOR CLOUDS */

@keyframes floatLeft {
    0% { transform: translateY(0); }
    100% { transform: translateY(50px); }
}

@keyframes floatRight {
    0% { transform: translateY(0); }
    100% { transform: translateY(50px); }
}

/* CLOUD SIZING FOR DIFFERENT DEVICES 
1400 Desktops & Laptops
992 Tablets
767 & 600 & 400 Mobile
*/

@media (max-width: 1399px) {
    .cloudLeft {
        width: 280px;
        height: 230px;
    }
    .cloudRight {
        width: 300px;
        height: 250px;
        top: 40vh;
    }
}

@media (max-width: 992px) {
    .cloudLeft {
        width: 240px;
        height: 190px;
    }
    .cloudRight {
        width: 250px;
        height: 210px;
        top: 45vh;
    }
}

@media (max-width: 767px) {
    .cloudLeft {
        width: 210px;
        height: 160px;
    }
    .cloudRight {
        width: 250px;
        height: 190px;
        top: 65vh;
    }
}

@media (max-width: 650px) {
    .cloudLeft {
        width: 180px;
        height: 140px;
        left:-6vh;
        top: 5vh;
    }
    .cloudRight {
        width: 210px;
        height: 170px;
        top: 68vh;
    }
}

@media (max-width: 400px) {
    .cloudLeft {
        width: 150px;
        height: 110px;
        left:-6vh;
        top: 5vh;
    }
    .cloudRight {
        width: 170px;
        height: 100px;
        /* right: -6vh; */
        top: 68vh;
    }
}

/* START OF HERO SECTION*/
/* HERO SECTION: Hooks the User w/ Welcome Msg || Call to Action Button */

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: center;    
        min-height: 100vh;
        flex-direction: column;
        max-width: 60rem;
        z-index: 1;
    }

    .innerTitleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .titleText {
        /* background-color: blue; */
        font-size: 5vw;
        width: 55vw;
        text-align: center;
        align-items:center;    
        justify-content: center;
        display: flex;
        letter-spacing: 0.4em;
        font-family: "Inter", sans-serif;
        font-style:bold;
        font-weight: 750;
        z-index: 1;
        
    }

    /* MEDIA TAG FOR TITLE  */
    @media (max-width: 1200px) {
        .titleText {
        font-size: 7vw;
        letter-spacing: none;
        }
    }
    @media (max-width: 608px) {
        .titleText {
        font-size: 10vw;
        }
    }

    .titleDescription {
        height: 8vw;
        width: 70vw;
        margin-bottom: 50px;
        bottom: 5%;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 80px;
        border-style: solid;
        overflow: hidden;
    }

    .titleDescriptionFont {
        font-size: 3vw;
        /* color: red; */
        font-style: bold;
        font-weight: 700;
        font-family: "Inter", sans-serif;
        letter-spacing: 0.2em;
    }

    /* titleDescription FONT ex. Lets go on a Room Tour*/
    .finalDescriptionFont {
        font-size: 3vw;
        /* color: red; */
        font-style: bold;
        font-weight: 700;
        font-family: "Inter", sans-serif;
        letter-spacing: 0.2em;
    }

    /* CIRCLE W/ DOWN ARROW COMPONENT */
    .circleDown {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        height: 3.4vw;
        width: 3.4vw;
        /* background-color: #FFFFFF; */
        border-style: solid;
        position: absolute;
        margin-bottom: 7.5vw;
    }

/******* END OF HERO SECTION *******/


/* CONTAINS ALL STUDIO CARDS */
.itemsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5vw;
}

/* INDIVIDUAL STUDIO CARDS */
.statsBox {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: "Inter",Arial, sans-serif;
    margin-top: 5%;
}

/*BASE IMAGE */
.statsBoxImage {
    width: 100%;
    height: auto;
}

/*Lena's Implementation*/

  /*CONTAINER OF ONLY ROOM SECTION TITLE */
  .statsBoxHeader {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  /*EX OF TEXT: STUDIO - LIGHTING*/
  .roomSectionTitle {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    /* font-weight: 500; */
    letter-spacing: 0.5vw;
    color: #333;
    margin: 0;

  }

  /*Container that includes all the data including art content */
  .statsBody {
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
  }

  /*Includes All API Data Except Pixel Art Content (basically only left side in desktop version)*/ 
  .statsContent {
    position: absolute;
    left: 8px;
    width: 45%;
    height: 100%;
    max-width: 250px;
  }

  /*EX OF TEXT: ENERGY */
  .categoryName {
    font-size: 1rem;
    /* font-weight: 600; */
    color: #333;
    text-align: center;
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    margin: 10px 10px 5px 10px;
  }

  /*OUTER LINE OF BAR */
  .barContainer {
    height: 30px;
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    border-style: solid;
    margin-left: 12%;
    position: relative;
  }

  /* INSIDE COLOR OF BAR */
  .averageBar {
    background-color: black;
    height: 100%;
    width: 0%;
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
  }

  /*PERCENTAGES EX: 50% */
  .averagePercentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0;
    z-index: 1;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: "Inter", sans-serif;
  }

/* EXAMPLE OF TEXT: "Represents the average positivity in your music" */
  .averageDescription {
    font-size: 1rem;
    color: black;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
    /* font-weight: 500; */
    font-family: "Inter", sans-serif;
    /* background-color: yellowgreen;
    opacity: 50%; */
  }

  /*Container for Song Closest to Category */
  .closeSongContainer {
    margin-bottom: 20px;
    /* background-color: red;
    opacity: 50%; */

  }

  /* EXAMPLE OF TEXT: "SONG CLOSEST TO YOUR VALENCE SCORE:" */
  .songCloseTitle {
    font-size: 1.05rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
    /* background-color: blue;
    opacity: 50%; */

  }

 /* EXAMPLE OF TEXT: "{SONG} By: {ARTIST}" */
  .songCloseDetails {
    font-size: 0.9rem;
    font-weight: 350;
    color: black;
    text-align: center;
    flex-grow: 1;
    min-height: 1em;
    /* background-color: green;
    opacity: 50%; */

  }

  .albumArt {
    width: 125px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 25%;
    border-style: solid;
  }

  /*Button of Play On Spotify */
  .spotifyButton {
    position: absolute;
    display: flex;
    height: 45px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    border-style: solid;
    justify-content: center;
    align-items: center;
    left: 28.5%;
    bottom: -3.5%;
    text-align: center;
 
  }

  .spotifyButton:hover{
    cursor: pointer;
    background-color: black;
  }

  /* Text of Play On Spotify Button */
  .spotifyButtonText{
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .spotifyButtonText:hover{
    color: white;
  }

  /*Container For Pixel Furniture */
  .artContent {
    position: absolute;
    top: 20%;
    right: -120%;
    width: 275px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  /*pixelWallFloor HAS THE SAME CSS FOR THE WALLPAPER AND THE LIGHTING. temporary until angela makes the icons*/

  .pixelBedroom, .pixelOffice, .pixelEntrance, .pixelKitchen, .pixelLivingRoom, .pixelWallFloor {
    max-width: none;
    max-height: none;
    transform-origin: center center;
    height: auto;
    width: 100%;
    position: relative;
  }

  /* Adjust Positioning As Art Is Installed */
  .pixelBedroom { 
    transform: scale(2);
    left: -48%; 
    top: -5%;
    }

  .pixelOffice { transform: scale(2.2);
    top: -40%; 
    right: 4%;
    }

  .pixelEntrance {
    transform: scale(2.5);
    top: -40%; 
    left: 36%;
    }

  .pixelKitchen { 
    transform: scale(2.5); 
    top: -30%; 
    left: 60%;
}

  .pixelLivingRoom { 
    transform: scale(2);
    top:15%;
    }

  .pixelWallFloor { 
    transform: scale(1);
 }

  /* MEDIA LAYOUT OF RESULT BOXES FOR MOBILE PHONES */
  @media (max-width: 650px){
    /* .itemsContainer {
        align-items: center;
    } */

    .statsBox {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .statsBoxImage {
        max-width: 600px;
        width: 360px; /*Changed to fixed (90% width messes w/ text*/
        display: block;
        margin: 0 auto;
        margin-bottom: 10%;
    }
    .statsBoxHeader {
        top: 12px;
    }
  
    .roomSectionTitle{
        font-size: 1.3rem;
    }
    
    .statsContent {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 300px; 
        max-width: 300px;
        position: relative;
    }

    .categoryName{
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .barContainer{
        width: 90%;
        height: 30px;
        border-radius: 25px;
        margin-left: 12px;
        margin-top: -5px;
    }

    .averagePercentage{
        font-size: 1.5rem;
    }

    .averageDescription{
        font-size: 1.1rem;
        font-weight: 350;
        margin-top: -5px;
    }

    .decorBar{
        background-color: black;
        border-top: 4px solid;
        border-radius: 25px;
        margin-top: -8%;
        width: 100%;
        margin-left: 2%;
    }

    .songCloseTitle{
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .songCloseDetails{
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 20px;
        min-height: 4rem;
        /* padding-bottom: 20px; */
    }
    
    .albumArt{
        margin-left: 25%;
        margin-right: auto;
        margin-top: -10%;
        height: 19%;
        width: auto;
        position: absolute;
    }

    .spotifyButton{
        bottom: 35.5%;
        left: 18%;
        width: 65%;
        height: 5%;
        max-height: 50px;
        position: absolute;
    }
    
    .spotifyButtonText{
        font-size: 1.2rem;
    }

    .artContent{
        position: absolute;
        left: 8%;
        width: 250px; 
        height: 23%; 
        top: 69%; 
        /* background-color: yellow; */
        /* opacity: 10%; */
    }

    .pixelBedroom {
        position: absolute;
        height: 150px;
        width: 230px;
        left: -40%;
        top: 5%;
    }

    .pixelOffice { 
        position: absolute;
        height: 160px;
        width: 230px;
        left: 0%;
        top: -35%;
    }

    .pixelEntrance {
        position: absolute;
        height: 160px;
        width: 230px;
        left: 40%;
        top: -35%;
    }

    .pixelKitchen { 
        position: absolute;
        height: 180px;
        width: 250px;
        left: 60%; 
        top: -35%;
    }

    .pixelLivingRoom {
        position: absolute;
        top: 20%;
        height: 160px;
        width: 230px;

    }

    .pixelWallFloor {
        height: 160px;
        width: 230px;
    }

  }

  /******End of Lena's Implementation ********/

/* CONTAINS ALL RESULTS INFO */
.resultContainer {
    /* background-color: blue; */
    height: 100vh;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exclamationCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 3.4vw;
    width: 3.4vw;
    border-style: solid;
    position: absolute;
    margin-bottom: 7.5vw;
}

.finalDescription {
    margin-top: 2vh;
    height: 7vw;
    width: 65vw;
    margin-bottom: 2vw;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    border-style: solid;
    overflow: hidden;
}

/* CONTAINER FOR FINAL RESULT PIXEL ROOM */
.pixelContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Top Window holding (username) Studio - STUDIOFY */
.pixelWindow {
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 47px;
    width: 45vw;
    border-radius:40px 40px 0px 0px;
    border-style: solid; 
    border-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10vw;
}

/* Main Window Holding Final Pixel Room Art */
.pixelBorder {
    align-items: center;
    justify-content: center;
    /* background-color: #FFFFFF; */
    height: 55vh;
    width: 45vw;
    border-radius: 0px 0px 30px 30px;
    z-index: 0;
    border-style: solid;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* background-color: yellow; */
}

/* STYLING FOR EACH INDIVIDUAL FURNITURE PIECE, CREATING THE CONCLUDING PIXEL ROOM ART */
.pixelFinal {
    position: absolute;
    z-index: 0;
    width: 38vw;
    /* object-fit: cover; */
}

.interactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #F6F3E0; */
    /* bottom: 15%; */
    margin-top: 2%;
    width: 100vw;
    flex-direction: row;
    gap: 1%;
}

.downloadAPT {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 30vw;
    height: 5vh;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: 550;
    border-style: solid;
}

.shareLink {
    border-radius: 40px;
    width: 30vw;
    height: 5vh;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: 550;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TODO: */
/* .shareFont {
    font-size: 5em;
} */

.iconsFormater {
    height: 3.2vh;
    width: 3.2vw;
}

.circleUpFooter {
    right: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 3vw;
    width: 3vw;
    background-color: #FFFFFF;
    border-style: solid;
    position: absolute;
    bottom: 1vw;
}

/* RESPONSIVENESS FOR RESULTS SECTION ELEMENTS */
/* 1400, 992, 768 + Mobile px*/

@media (max-width: 1400px) {
    .pixelFinal {
        width: 624px;
        height: 422px;
    }
    .pixelBorder {
        width: 680px;
        height: 480px;
    }
    .pixelWindow {
        gap: 5vw;
        width: 680px;
    }
}

@media (max-width: 992px) {
    .finalDescription {
        width: 90vw;
        height: 10vh;
    }
    .exclamationCircle {
        margin-bottom: 10vh;
    }
    .finalDescriptionFont {
        font-size: 4.5vw;
    }
}

@media (max-width: 680px) {
    .pixelBorder {
        width: 349px;
        height: 273.5px;
    }
    .pixelFinal {
        width: 350px;
        height: 250px;
    }
    .pixelWindow {
        width: 350px;
    }
    .shareFont {
        font-size: 0.8em;
    }
    .interactContainer {
        flex-direction: column;
        gap: 1vh;
    }
    .iconsFormater {
        height: 3vh;
        width: 3vw;
    }
    .pixelWindow {
        gap: 1vw;
    }
    .shareLink {
        width: 40vw;
    }
    .downloadAPT {
        width: 50vw;
    }
    .finalDescription {
        width: 80vw;
        height: 7vh;
    }
    .circleDown {
        /* margin-bottom: 8vh; */
        width: 30px auto;
        height: 30px auto;
    }
    .finalDescriptionFont {
        font-size: 4vw;
    }
    .exclamationCircle {
        margin-bottom: 10.5vw;
    }
}

@media (max-width: 500px) {
    .exclamationCircle {
        margin-bottom: 13.5vw;
        height: 15px;
        width: 15px;
    }
}

@media (max-width: 420px) {
    .shareFont {
        font-size: 0.8em;
    }

    .iconsFormater {
        display: none;
    }

    .circleUpFooter {
        height: 3vh;
        width: 6vw;
        bottom: 3%;
    }

    .finalDescription {
        width: 90vw;
        height: 50px;
    }

    .circleDown {
        /* margin-bottom: 10.5vw; */
        height: 10px ;
        width: 10px ;
    }

    .finalDescriptionFont {
        font-size: 1.2em;
    }
}
