@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


  .container {
    width: 100%;
    height: 85vh;
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
    align-items: center;
    background-color: #FFFADC;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }

  .pixelborder {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 13.5%;
    left: 0.38%;
    height: 566.5px;
    width: 722px; 
    z-index: 0;
    overflow: hidden;
  }
  
  .pixel {
    position: absolute;
    top: 0%;
    left: -5%;
    width: 110%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }

  .mainWindow{
    position: relative;
    top: 6%;
    left: -20%;
    z-index: 0;
    height: 70vh
  }

  .mainWindowImage{
    width: auto;
    height: 650px;
  }

  .bgWindowTall{
    position: absolute;
    left: 85%;
    height: 250px;
    width: auto;
    z-index: -1;
    animation: floatTall 2s infinite alternate-reverse ease-in-out;
  }

  .bgWindowWide{
    position: absolute;
    right: -140%;
    height: 175px;
    width: auto;
    z-index: -1;
    animation: floatWide 2.3s infinite alternate-reverse ease-in-out;
  }

  .bgWindowSquare{
    position: absolute;
    left: -20%;
    height: 300px;
    width: auto;
    z-index: -1;
    animation: floatSquare 2.2s infinite alternate-reverse ease-in-out;
  }

  @keyframes floatTall {
    0%{bottom: 375px;}
    100%{bottom: 425px;}
  }

  @keyframes floatWide{
    0%{bottom: 450px;}
    100%{bottom: 500px;}
  }

  @keyframes floatSquare{
    0%{bottom: 300px;}
    100%{bottom: 350px;}
  }

  .dayNightOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .25;
    pointer-events: none;
    background-color: white;
    animation-fill-mode: forwards;
    mix-blend-mode: multiply;
    z-index: 1;
    animation: dayNightAnimation 5s infinite alternate;
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;
  }

  @keyframes dayNightAnimation {
    0% {
      background-color: lightyellow;
    }
    50% {
      background-color: darkblue;
    }
    100% {
      background-color: lightyellow;
    }
  }

  .sideContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    right: -25%;
    top: -60%
  }

  .studiofyText{
    max-width: 110%;
    height: auto;
    margin-bottom: -10%;
  }

  .studiofyText{
    width: 110%
  }
  
  .loginButton{
    display: flex;
    border: none; 
    background-color: transparent;
    cursor: pointer;
  }
  
  .loginButton{
    max-width: 100;
    height: auto;
  }

  .loginButton:hover{
    filter: drop-Shadow(-1px 1px );
  }
  
  .drop {
    animation: dropAnimation 1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
    image-rendering: pixelated;
  }

  @keyframes dropAnimation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .switch {
    animation: switchAnimation 1s ease-out;
    opacity: 1;
    animation-fill-mode: forwards;
    image-rendering: pixelated;
  }

  @keyframes switchAnimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    10% {
      opacity: 0;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }


  .footer {
    background-color: black;
    width: 100%;
    height: 15vh;
    text-align: center;
    position: relative;
  }

  .footerOptions {
    font-family: 'Inter';
    color: white;
    display: inline-block; 
    font-size: 1.3rem;
    margin: 10px 30px; 
    margin-bottom: 30px;
    margin-top: 30px;
    text-decoration: none;
  }

  .footerOptions:hover{
    text-decoration: underline;
  }

  .footerEmail {
    text-decoration: none;
    font-family: 'Inter';
    background-color: white;
    color: black;
    padding: 10px 20px; 
    border-radius: 20px; 
  }

  .footerEmail:hover{
    background-color: #1AA34A;
  }
  
  .emailIcon {
    vertical-align: middle; 
    width: 30px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  
  .emailIcon img {
    margin-right: 5px; 
  }

/* Large devices (desktops, less than 1400px) */
@media (max-width: 1399px) {
  .sideContainer {
    right: -29.5%;
    top: -30%;
  }

  .studiofyText {
    width: 425px;
  }

  .mainWindow {
    left: -20%;
    top: 20%;
  }

  .mainWindowImage {
    width: 550px;
    height: auto;
  }

  .pixelborder {
    width: 547px;
    height: 429px;
    left: 1px;
    top: 13%;
  }

  .dayNightOverlay {
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 26px;
  }

  .bgWindowWide {
    left: -20%;
    height: 175px;
    width: auto;
  }

  @keyframes floatWide {
    0% { bottom: 350px; }
    100% { bottom: 400px; }
  }

  .bgWindowTall {
    height: auto;
    width: 150px;
    left: 85%;
  }

  @keyframes floatTall {
    0% { bottom: -100px; }
    100% { bottom: -50px; }
  }

  .bgWindowSquare {
    left: 200%;
    width: 175px;
    height: auto;
  }

  @keyframes floatSquare {
    0% { bottom: 350px; }
    100% { bottom: 375px; }
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  .pixelborder {
    width: 497px;
    height: 390.5px;
    top: 13%;
    left: 1px;
  }

  .sideContainer {
    right: 0%;
    top: -1%;
  }

  .studiofyText {
    width: 450px;
    margin-top: 5px;
  }

  .loginButton {
    margin-top: -5px;
    width: 350px;
  }

  .mainWindow {
    left: 0%;
    top: 5%;
  }

  .mainWindowImage {
    width: 500px;
    height: auto;
  }

  .dayNightOverlay {
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 24px;
  }

  .bgWindowWide {
    left: -20%;
    height: 100px;
    width: auto;
  }

  @keyframes floatWide {
    0% { bottom: 340px; }
    100% { bottom: 395px; }
  }

  .bgWindowTall {
    height: auto;
    width: 150px;
    right: 0%;
  }

  @keyframes floatTall {
    0% { bottom: -30px; }
    100% { bottom: 10px; }
  }

  .bgWindowSquare {
    display: none;
  }

 
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  .pixelborder {
    width: 349px;
    height: 273.5px;
    top: 13%;
  }

  .sideContainer {
    right: 0;
    top: 5%;
    width: 350px;
  }

  .studiofyText {
    width: 300px;
    margin-top: 50px;
  }

  .loginButton {
    width: 275px;
  }

  .mainWindow {
    left: 0%;
    top: 25%;
  }

  .mainWindowImage {
    width: 350px;
    height: auto;
  }

  .dayNightOverlay {
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 16px;
  }

  .bgWindowWide {
    left: -45%;
    height: 150px;
    width: auto;
  }

  @keyframes floatWide {
    0% { bottom: 200px; }
    100% { bottom: 250px; }
  }

  .bgWindowTall {
    height: auto;
    width: 150px;
    left: 95%;
  }

  @keyframes floatTall {
    0% { bottom: 220px; }
    100% { bottom: 270px; }
  }

  .bgWindowSquare {
    display: none;
  }

 
}