/** 

CSS Notes 
==================================
Priority: ID -> Class -> Elements

h1 = selects element
.class = selects class
#main-text = selects id

=============================
# To select multiple
        h1, h2 {
            /styles here
        }
=============================
# To select Inside 
    ** Meaning select h2 inside h1**
        h1 h2 {
            /styles here
        }
=============================
Color Vs Layout

Colors: background colors etc
        1) Background-colors are applied to padding and content
            but not border and margin

Layouts: Content -> Padding -> Border -> Margin (inside to outside)
        **width, height, padding, border, margin**
        1) Width and height are best set as percentages of parent container
        2) Padding can be set manually ex.
            padding: 10px 20px 30px 40px;
            padding: top, right, bottom, left (clockwise)
                or
            padding: 10px 20px -> padding: top/bottom , left/right
                or
            padding 10px -> padding: all sides


**/

  .pixelborder {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #F6F3E0;
    top: 20%;
    left: 12%;
    height: 450px;
    width: 650px;
    border-radius: 50px;
    z-index: 0;
  }
  
  .pixel {
    position: absolute;
    top: 20%;
    left: 17%;
    width: 500px;
    height: 500px;
    z-index: 0;
    image-rendering: pixelated;
  }

  .button_container {
    position: absolute;
    bottom: 55%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    position: absolute;
    right: 10%;
    margin-top: 10%;
    display: flex;
    background-color: white; /* Spotify green */
    color: black; /* Text Color */
    background-color: #E5E5E5;
    border: none; /* Border around Padding*/ 
    padding: 15px 30px; /* Button Size*/
    font-size: 1.5em; /* */
    border-radius: 25px; /* Rounding Button*/
    flex-direction: row; /* Change this to row if you want horizontal flex */

  }
  
  .button:hover {
    background-color: #1AA34A; /* Darker green on hover */
  }

  .drop {
    animation: dropAnimation 1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
    image-rendering: pixelated;
  }

  @keyframes dropAnimation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes switch {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .footer {
    background-color: black;
    width: 100%;
    padding: 70px 30px 20px;
  }



 