/** 

CSS Notes 
==================================
Priority: ID -> Class -> Elements

h1 = selects element
.class = selects class
#main-text = selects id

=============================
# To select multiple
        h1, h2 {
            /styles here
        }
=============================
# To select Inside 
    ** Meaning select h2 inside h1**
        h1 h2 {
            /styles here
        }
=============================
Color Vs Layout

Colors: background colors etc
        1) Background-colors are applied to padding and content
            but not border and margin

Layouts: Content -> Padding -> Border -> Margin (inside to outside)
        **width, height, padding, border, margin**
        1) Width and height are best set as percentages of parent container
        2) Padding can be set manually ex.
            padding: 10px 20px 30px 40px;
            padding: top, right, bottom, left (clockwise)
                or
            padding: 10px 20px -> padding: top/bottom , left/right
                or
            padding 10px -> padding: all sides


**/

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .pixelborder {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #F6F3E0;
    top: 25%;
    left: 10%;
    height: 600px;
    width: 800px;
    border-radius: 50px;
    z-index: 0;
  }
  
  .pixel {
    position: absolute;
    top: -13%;
    left: 2.5%;
    width: 768px;
    height: 768px;
    z-index: 0;
    image-rendering: pixelated;
  }

  .sideContainer {
    position: absolute;
    bottom: 50%;
    right: 5%;
    display: flex;
    z-index: 2;
  }

  .title {
    color: white;
    position: relative;
    bottom: 100px;
    right: 5%;
    font-size: 3em;
    }
  
  .button {
    position: absolute;
    right: 10%;
    margin-top: 10%;
    display: flex;
    background-color: white; /* Spotify green */
    color: black; /* Text Color */
    background-color: #E5E5E5;
    border: none; /* Border around Padding*/ 
    padding: 15px 30px; /* Button Size*/
    font-size: 1.5em; /* */
    border-radius: 25px; /* Rounding Button*/
    flex-direction: row; /* Change this to row if you want horizontal flex */
  }
  
  .button:hover {
    background-color: #1AA34A; /* Darker green on hover */
  }

  .drop {
    animation: dropAnimation 1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
    image-rendering: pixelated;
  }

  .switch {
    animation: switchAnimation 1s ease-out;
    opacity: 1;
    animation-fill-mode: forwards;
    image-rendering: pixelated;
  }

  @keyframes dropAnimation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes switchAnimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    10% {
      opacity: 0;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .dayNightOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .25;
    pointer-events: none;
    background-color: white;
    animation-fill-mode: forwards;
    mix-blend-mode: multiply;
    z-index: 1;
    animation: dayNightAnimation 5s infinite alternate;
  }
  
  @keyframes dayNightAnimation {
    0% {
      background-color: lightyellow;
    }
    50% {
      background-color: darkblue;
    }
    100% {
      background-color: lightyellow;
    }
  }

  .footer {
    background-color: black;
    width: 100%;
    padding: 70px 30px 20px;
  }