.waveContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.wave {
    position: absolute;
    right: -25%;
    width: 100%;
    height: 100%;
    transform-origin: center;
}

.wave1 {
    animation: waveAnimation 10s linear infinite alternate;
}

@keyframes waveAnimation {
    0% {
        transform: translateY(0%) rotate(-90deg);
    }
    100% {
        transform: translateY(-45%) rotate(-90deg);
    }
}